<!--Add BatchTrainerModuleButton -->
 
<div class="container-fluid">

  <div class="row mt-2 mb-2" >
     <div class="col-md-12 d-flex justify-content-end">
         <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addBatchTrainerModuleModal">Add Batch-Trainer-Module</button>
     </div>
 </div>


 <!--Add New Batch-Trainer-Module Modal-->

 <div class="modal fade" id="addBatchTrainerModuleModal" tabindex="-1" aria-labelledby="addBatchTrainerModuleModalLabel" aria-hidden="true">
     <div class="modal-dialog modal-lg">
       <div class="modal-content">
         <div class="modal-header" style="background-color: black;color: white;">
           <h1 class="modal-title fs-5" id="exampleModalLabel">Add New Batch-Trainer-Module</h1>
           <button type="button"  id="add_Form_Close_Btn"  class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
         </div>

       <form [formGroup]="addBatchTrainerModuleForm" (ngSubmit)="addBatchTrainerModule()">
         <div class="modal-body">
           <div class="container-fluid">

             <div class="row">

              <div class="col-md-6">
                <div class="mb-3">
                  <label for="recipient-name" class="col-form-label">Course Name:</label>
                  <select (change)="loadBatchesAndModulesInSelectBox()" class="form-select" aria-label="Default select example" formControlName="coursename">
                    <option *ngFor="let course of courseDetails" [ngValue]="course.courseName" >
                    {{course.courseName}}
                     </option>
                  </select>
                </div>
              </div>
            


               <div class="col-md-6">
                   <div class="mb-3">
                     <label for="recipient-name" class="col-form-label">Batch Name:</label>
                     <select class="form-select" (change)="getBatchDetailsById()" aria-label="Default select example" formControlName="batchname">
                       <option *ngFor="let batch of batchDetails" [ngValue]="batch._id">
                           {{batch.batchName}}
                         </option>
                       </select>
                   </div>
               </div>
              
              </div>

               

             <div class="row">
               <div class="col-md-6">

                <div class="mb-3">
                  <label for="recipient-name" class="col-form-label">Module Name:</label>
                  <select class="form-select" aria-label="Default select example" formControlName="modulename">
                        <option *ngFor="let module of moduleDetails" [ngValue]="module.moduleName" >
                          {{module.moduleName}}
                        </option>
                      </select>
                </div>
                 
                   
               </div>

               <div class="col-md-6">
                 <div class="mb-3">
                   <label for="recipient-name" class="col-form-label">Trainer Name:</label>
                    <select class="form-select" aria-label="Default select example" formControlName="trainername">
                     <option *ngFor="let trainer of trainerName" [ngValue]="trainer">
                       {{trainer}}
                     </option>
                     </select>
                 </div>
               </div>
             </div>

             <div class="row">
               <div class="col-md-6">
                    <div class="mb-3">
                      <label for="recipient-name" class="col-form-label">Start-Date:</label>
                      <input type="date" class="form-control" id="startdate" formControlName="startdate" readonly>
                    </div>
               </div>

               <div class="col-md-6">
                 <div class="mb-3">
                     <label for="recipient-name" class="col-form-label" >End-Date:</label>
                    <input type="date" class="form-control" id="enddate" formControlName="enddate" readonly>
                 </div>
               </div>
             </div>
             <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <button type="submit" class="btn btn-dark">Add Batch-Trainer-Module</button>
            </div>
             
            </div>
             
             </div>

         
     </form>

       </div>
     </div>
   </div>

<!--Table-->

<table class="table">
 <thead>
   <tr>
     <th scope="col" style="color: gray;">Id</th>
     <th scope="col" style="color: gray;">Course Name</th>
     <th scope="col" style="color: gray;">Batch Name</th>
     <th scope="col" style="color: gray;">Module Name</th>
     <th scope="col" style="color: gray;">Trainer Name</th>
     <th scope="col" style="color: gray;">Start-Date</th>
     <th scope="col" style="color: gray;">End-Date</th>
     <th scope="col" style="color: rgb(86, 79, 79);">Action</th>
   </tr>
 </thead>
 <tbody *ngFor="let value of batchTrainerModuleDetails;let counter=index">
   <tr>
     <th scope="row">{{counter+1}}</th>
     <td>{{value.courseName}}</td>
     <td>{{value.batchName}}</td>
     <td>{{value.moduleName}}</td>
     <td>{{value.trainerFullName}}</td>
     <td>{{value.startDate | date:"mediumDate"}}</td>
     <td>{{value.endDate  | date:"mediumDate"}}</td>
     <td>


       <!--Update Batch Trainer Module Button-->

      <button class="me-1 action-button" (click)="onUpdate(value)" data-bs-toggle="modal" data-bs-target="#editBatchTrainerModule">
       <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-fill" viewBox="0 0 16 16">
       <path d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 
       2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z"/>
         </svg>
     </button>

         <!--Update Course Form-->

         <div class="modal fade" id="editBatchTrainerModule" tabindex="-1" aria-labelledby="addBatchTrainerModuleModalLabel" aria-hidden="true">
             <div class="modal-dialog modal-lg">
               <div class="modal-content">
                 <div class="modal-header" style="background-color: black;color: white;">
                   <h1 class="modal-title fs-5" id="exampleModalLabel">Update Batch-Trainer-Module</h1>
                   <button type="button"  class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
                 </div>

                 <form [formGroup]="updateBatchTrainerModuleForm" (ngSubmit)="updateBatchTrainerModule()">
                 <div class="modal-body">
                   <div class="container-fluid">

                     <div class="row">

                      <div class="col-md-6">
                        <div class="mb-3">
                          <label for="recipient-name" class="col-form-label " >Course Name:</label>
                          <select class="form-select" aria-label="Default select example" formControlName="updatedcoursename">
                           <option *ngFor="let course of courseDetails" [ngValue]="course.courseName">
                            {{course.courseName}}
                           </option>
                          </select>
                        </div>
                      </div>

                       <div class="col-md-6">
                           <div class="mb-3">
                             <label for="recipient-name" class="col-form-label" >Batch Name:</label>
                             <select class="form-select" aria-label="Default select example" formControlName="updatedbatchname">
                               <option *ngFor="let batch of batchDetails" [ngValue]="batch.batchName">
                                 {{batch.batchName}}
                               </option>
                               </select>
                           </div>
                       </div>

                       
                     </div>

                     <div class="row">
                       <div class="col-md-6">
                           <div class="mb-3">
                             <label for="recipient-name" class="col-form-label">Module Name:</label>
                             <select class="form-select" aria-label="Default select example" formControlName="updatedmodulename">
                                <option *ngFor="let module of moduleDetails" [ngValue]="module.moduleName">
                                 {{module.moduleName}}
                                </option>
                               </select>
                           </div>
                       </div>
                       
                       <div class="col-md-6">
                         <div class="mb-3">
                           <label for="recipient-name" class="col-form-label " >Trainer Name:</label>
                           <select class="form-select" aria-label="Default select example" formControlName="updatedtrainername">
                            <option *ngFor="let trainer of trainerName" [ngValue]="trainer">
                              {{trainer}}
                            </option>
                           </select>
                         </div>
                       </div>
                     </div>

                     <div class="row">
                       <div class="col-md-6">
                           <div class="mb-3">
                             <label for="recipient-name" class="col-form-label" >Start-Date:</label>
                             <input type="date" class="form-control" id="startdate" formControlName="updatedstartdate">
                           </div>
                       </div>

                       <div class="col-md-6">
                         <div class="mb-3">
                           <label for="recipient-name" class="col-form-label" >End-Date:</label>
                           <input type="date" class="form-control" id="enddate" formControlName="updatedenddate">
                         </div>
                       </div>
                     </div>

                     </div>
                     </div>
     
                 <div class="modal-footer">
                   <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                   <button type="submit" class="btn btn-dark" data-bs-dismiss="modal">Update Batch-Trainer-Module</button>
                 </div>
               </form>
               </div>
             </div>
           </div>
          

   
         

         

         <!--Delete Course Button-->
         
           <button class="action-button" (click)="onDeleteBatchTrainerModule(value._id)" data-bs-toggle="modal" data-bs-target="#deleteBatchTrainerModuleModal">
             <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
             <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6Z"/>
             <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1ZM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118ZM2.5 3h11V2h-11v1Z"/>
           </svg>
         </button>

          
           <!--Delete Course Form-->

           <div class="modal fade" id="deleteBatchTrainerModuleModal" tabindex="-1" aria-labelledby="addBatchTrainerModuleModal" aria-hidden="true">
             <div class="modal-dialog modal-lg">
               <div class="modal-content">
                 <div class="modal-header">
                  
                   <button type="button"  class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
                 </div>

                 <div class="modal-body">
                   <div class="container-fluid ">
                     <div class="row">
                       <div class="col-md-12 d-flex justify-content-center">
                             <h6>Are you sure you want to delete this course ?</h6>
                       </div>
       
                       
                     </div>
                 </div>
                 </div>
                 <div class="modal-footer">
                   <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
                   <button type="button" (click)="deleteBatchTrainerModule()" data-bs-dismiss="modal" class="btn btn-dark">Yes</button>
                 </div>
               </div>
             </div>
           </div>


          





           

    </td>
   </tr>
 </tbody>
</table>

</div>













