<p>trainersidebar works!</p>

<h2>trainer side-navbar</h2>



<div class="sidebar">
    <ul class="nav">
        <!-- <li><img src="https://img.freepik.com/free-vector/bird-colorful-logo-gradient-vector_343694-1365.jpg?size=626&ext=jpg&ga=GA1.1.143553753.1685431378&semt=sph" alt="" height="50" width="50" align="center"></li> -->
        <li><a href="#"><i class="bi bi-house"></i><span>home</span></a></li>
        <li><a href=""><i class="bi bi-calendar3"></i><span>Calender</span></a></li>
        <li><a href="#"><i class="bi bi-file-person-fill"></i><span>Trainer</span></a></li>
        <li><a href="#"><i class="bi bi-person-lines-fill"></i><span>Classmates</span></a></li>
        <li><a href="#"><i class="bi bi-book-half"></i><span>Assignment</span></a></li>
        <li><a href="#"><i class="bi bi-clipboard"></i><span>Examination</span></a></li>
    </ul>
</div>
