<head>
    <style>
        a{
            background-color: whitesmoke;
        }
        button{
            background-color: whitesmoke;
        }
    </style>
</head>
<div class="container">

    <div class="row">
        <div class="col-md-8" style="padding-left: 0px;">
            <div class="input-group rounded" id="search">
                <input type="search" class="form-control rounded" placeholder="Search" aria-label="Search" aria-describedby="search-addon" />
              </div>            
        </div>
    </div>

    <div class="row">


        <div class="col-md-8">

            <div class="row">
                <div class="col-md-12" id="mycourses">MyCourse
                    <button type="button" class="btn btn-secondary" 
                    style="justify-content: center;margin-top: 10px;margin-left: 74%;"><a routerLink="/syllabus">View Syllabus</a></button>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12" id="announcement">Announcement</div>
            </div>

            <div class="row">
                <div class="col-md-6" id="classannouncement">Class Announcement</div>
                <div class="col-md-6" id="privateannouncement">Private Comment</div>
            </div>
        </div>


        <div class="col-md-3" id="notification">Notification</div>

    </div>
</div>
  
