<h2> Trainers</h2>

<!-- <div class="container">
<div class="row">
    <div class="col-md-3">
    <div class="card-container">
        <img class="round" src="https://img.freepik.com/free-photo/bohemian-man-with-his-arms-crossed_1368-3542.jpg?size=626&ext=jpg&ga=GA1.1.143553753.1685431378&semt=sph" alt="user" />
        <h3>Shubham </h3>
        <h6>Pune</h6>
        <p> <br/> front-end developer</p>
        <p> Contact No:  +91 1234567790</p>
    </div>
</div>
</div>
</div> -->

 
<div class="container">
    <div class="row ">

        <!-- first card -->
        <div class="col-md-3">
             <div class="card-container">
                  <img class="round" src="https://img.freepik.com/free-photo/cheerful-indian-businessman-smiling-closeup-portrait-jobs-career-campaign_53876-129417.jpg?size=626&ext=jpg&ga=GA1.1.143553753.1685431378&semt=sph" alt="user" />
                  <h3>Shubham </h3>
                  <h6>Pune</h6>
                   <p> <br/>  Web-developer</p>
                   <p> <span>Contact No</span><br><span class="bold">+91 1234567790</span></p>
             </div>
      </div>
     
        <!-- 2nd card -->
      <div class="col-md-3">
        <div class="card-container">
             <img class="round" src="https://img.freepik.com/free-photo/young-bearded-man-with-striped-shirt_273609-5677.jpg?size=626&ext=jpg&ga=GA1.1.143553753.1685431378&semt=sph" alt="user" />
             <h3>Pranav </h3>
             <h6>Pune</h6>
              <p> <br/> front-end developer</p>
             <p> <span>Contact No</span><br><span class="bold">+91 1234567790</span></p>
        </div>
 </div>

   <!-- 3rd card -->
 <div class="col-md-3">
    <div class="card-container">
         <img class="round" src="https://img.freepik.com/free-photo/portrait-young-indian-top-manager-t-shirt-tie-crossed-arms-smiling-white-isolated-wall_496169-1513.jpg?size=626&ext=jpg&ga=GA1.1.143553753.1685431378&semt=sph" alt="user" />
         <h3>Vishal  </h3>
         <h6>Pune</h6>
          <p> <br/> Mean-Stag developer</p>
          <p> <span>Contact No</span><br><span class="bold">+91 1234567790</span></p>
    </div>
</div>


<!-- 4th card -->

<div class="col-md-3">
  <div class="card-container">
       <img class="round" src="https://img.freepik.com/free-photo/waist-up-portrait-handsome-serious-unshaven-male-keeps-hands-together-dressed-dark-blue-shirt-has-talk-with-interlocutor-stands-against-white-wall-self-confident-man-freelancer_273609-16320.jpg?size=626&ext=jpg&ga=GA1.2.143553753.1685431378&semt=sph" alt="user" />
       <h3>Shubham </h3>
       <h6>Pune</h6>
        <p> <br/> UI/UX developer</p>
        <p> <span>Contact No</span><br><span class="bold">+91 1234567790</span></p>
  </div>
</div>





    </div>
</div> 






