<nav class="navbar  container-fluid navbar-dark bg-dark navbar-expand-sm d-flex shadow bg-white rounded sticky-top" >
    <div class="container-fluid nav-container" >
        <a class="navbar-brand me-auto" href="#">
            <img src="../../assets/Images/logipoollogo.png" width="100" height="80" alt="logo">
            <!-- Logipool -->
          </a>
        <div class="dropdown">

             <a class="dropdown-toggle dropdown-name" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                <span id="username">Avin Gore</span>               
                <img src="https://png.pngtree.com/png-vector/20191110/ourmid/pngtree-avatar-icon-profile-icon-member-login-vector-isolated-png-image_1978396.jpg" width="40" height="40" class="rounded-circle">
              </a>
              <ul class="dropdown-menu dropdown-menu-end">
                <li><a class="dropdown-item" routerLink="/home/profile" >View Profile</a></li>
                <!-- <li><a class="dropdown-item" href="#">Change Password</a></li>
                <li><a class="dropdown-item" href="#">Another action</a></li> -->
                <li><a class="dropdown-item" href="#">Log Out</a></li>
              </ul>
            </div>
        </div>
 
  </nav>


