.img{
    background-image: url(../../assets/Images/loginimg.png);
    background-size: cover; /* This property ensures the image covers the entire element */
    background-position: center center; /* Center the image */
    height: 100vh;
}
.form-card{
    height : 93vh;
}
form{
    width: 23%;
    margin-left: 7em;
    margin-top: 2rem;
    background-color: #EBEDF9;
    border-radius: 13px;
    padding: 46px 60px !important;
}
.text-muted{
    justify-content: flex-end;
    float:right;
}
.text-end{
    margin-right: auto;

}
.logo{
    margin-left: 230px;
    height: 50px;

}
.password{
    /* color: blue; */
    float: right;
}
.input-icons i {
    position: absolute;
    display: flex;
  align-items: center;
}
.input-icons {
    width: 100%;
    margin-bottom: 10px;
    
    
}
.icon {
    padding: 10px;
    min-width: 40px;
    
}
.input-field {
    width: 100%;
    padding: 10px;
    text-align: center;
}
.li img{
    
}

/*my css*/
.input-icons{

    position: relative;
}
#usericon{
    position: absolute;
    top: calc(25%);
    left: calc(5%);
}