
.btn-primary{
    background-color: #d6ddef !important;
    color: black;
    border: 1px solid black;
}

/*css for buttons inside table*/
.action-button{
    background-color: white;
    border: 0px;

}



/* modal box related properties*/

.modal-header{
    display: flex !important;
    background-color: black;
    color: white;

}

.formGroup{
    display: inline-block;
}

.form-control{

    display: inline-block !important;
    width: 70%;
}
.col-form-label{
    margin-right: 20px;
    width: 24%;
}

.form-select{

    display: inline-block !important;
    width: 70%;
}



.modal-footer 
{
    justify-content: center !important;
}




