
<!-- <div class="container-fluid" *ngIf="authService.isLoggedIn">
  <app-navbar></app-navbar>
      <div class="row">
        <div class="col-md-2 column" style="padding: 0px;">
    
          <app-sidebar></app-sidebar>
          
        </div>
        <div class="col-md-10 column">
          
          <router-outlet></router-outlet>
          
        </div>
      </div>
    
    
</div> -->
<!-- <div class="container">
  <div class="row">
      <div class="col-md-6 content" >
          <div class="logo">
              <img src="/assets/Images/logipoollogo.png" height="143px" width="155px" alt="logipoollogo">
          </div>
          <br>
          <div class="head" >
              <h4> <span> <span class="t">T</span>he journey of a thousand   <br>    miles begi</span><span class="under">ns with one step.</span></h4>
              <hr>
          </div>
          
          <div class="col-sm-12" >
              <p >
                  Logipool Infotech is dedicated to advancing education, a dynamic platform that enables our educators to create personalized, secure, and  collaborative learning experiences. It equips our  institution with essential tools for managing and  measuring student progress. This technology-driven  approach ensures that our students receive a tailored  education, fostering their growth and success.
              </p>
          </div>
          <br>
          
          <button>Log In</button>
      </div>
      <div class="col-md-6">
          <img class="floating" src="../../assets/Images/Data_security_05 1.svg" alt="loginpageimg" height="550px" width="550px">
      </div>
  </div>
</div> -->

    <router-outlet></router-outlet>