.title{
    background-color:rgb(238, 242, 242);
    text-align:center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.content{
    
    text-align:center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.syllabus{
    background-color:rgb(238, 242, 242);
}