/* Main CSS Here */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    }
    
    .card-title{
        color: black;
    }
    
    .recent-Articles{
        font-weight: bold;
        text-decoration: none;
        font-style: normal;
    }
    
    
    .main-container {
    display: flex;
    width: 100%;
    position: relative;
    top: 80px;
    z-index: 1;
    }

    /* image css */
    card{
        border-radius: 40%;
    }

    
    
    .main {
    width: 100%;
    overflow-x: hidden;
    padding: 10px 20px 20px 20px;
    }
    
    .box-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    gap: 50px;
    }
    
    .option1 {
    border-left: 5px solid #010058af;
    background-color: var(--Border-color);
    color: white;
    cursor: pointer;
    }
    .option1:hover {
    border-left: 5px solid #004358af;
    background-color: var(--Border-color);
    }
    .box {
    height: 130px;
    width: 230px;
    border-radius: 20px;
    box-shadow: 3px 3px 10px black;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
    }
    .box:hover {
    transform: scale(1.08);
    }
    
    .box:nth-child(1) {
    background-color: var(--one-use-color);
    }
    .box:nth-child(2) {
    background-color: var(--two-use-color);
    }
    .box:nth-child(3) {
    background-color: var(--one-use-color);
    }
    .box:nth-child(4) {
    background-color: var(--two-use-color);
    }
    
    .box .text {
    color: black;
    }
    
    
    .report-container {
    min-height: 300px;
    max-width: 1200px;
    margin: 70px auto 0px auto;
    background-color: #ffffff;
    border-radius: 30px;
    box-shadow: 3px 3px 10px rgb(188, 188, 188);
    padding: 0px 0px 0px 0px;
    }
    
    .main-div{
        border: 1px solid black;
        margin-right: 0px;
        width: 24% !important;
        padding: 0px;
    
    }
    
    button{
        padding: 0;
        border: none;
        background: none;
    }
    .btn{
        background-color: #fff;
        padding: 0.8em 1.5em;
        border: none;
        user-select: none;
        cursor: pointer;
        transition: all 100ms linear;
        position: relative;
        box-shadow: inset 0 4px 6px -1px rgb(0 0 0 / 0.1), 
        0 2px 4px -2px rgb(0 0 0 / 0.1);
    }
    .btn:active {
        box-shadow: inset 0 0 0 4px #043b3f6b;
    }
    
    
    