<br><br>
<div class="container">
    <div class="row">

        <div class="col-md-3 text-center">
            <div class="card">
                <div class="card-body">
                    <svg xmlns="http://www.w3.org/2000/svg" width="50" height="75" fill="currentColor" class="bi bi-person-fill" viewBox="0 0 16 16">
                        <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3Zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6Z"/>
                      </svg>

                    <h1 class="card-title" style="font-size:20px;">Total Students</h1>
                    <h1 class="card-title" style="font-size: 20px;">{{totalStudents}}</h1>
                </div>
            </div>
        </div>

        <div class="col-md-3 text-center">
            <div class="card">
                <div class="card-body">
                    <svg xmlns="http://www.w3.org/2000/svg" width="50" height="75" fill="currentColor" class="bi bi-people-fill" viewBox="0 0 16 16">
                    <path d="M7 14s-1 0-1-1 1-4 5-4 5 3 5 4-1 1-1 1H7Zm4-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6Zm-5.784 6A2.238 2.238 0 0 1 5 13c0-1.355.68-2.75 1.936-3.72A6.325 6.325 0 0 0 5 9c-4 0-5 3-5 4s1 1 1 1h4.216ZM4.5 8a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5Z"/>
                    </svg>

                    <h1 class="card-title" style="font-size: 20px;">Total Trainers</h1>
                    <h1 class="card-title" style="font-size: 20px;">{{totalTrainers}}</h1>
                </div>
            </div>
        </div>

        <div class="col-md-3 text-center">
            <div class="card">
                <div class="card-body">
                    <svg xmlns="http://www.w3.org/2000/svg" width="50" height="75" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                        <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                        <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                      </svg>

                    <h1 class="card-title" style="font-size: 20px;">Total Courses</h1>
                    <h1 class="card-title" style="font-size: 20px;">{{totalCourses}}</h1>
                </div>
            </div>
        </div>

    </div>


<br>

    <div class="row">
        
        <div class="col-md-12">
            <h2 style="text-align: left;">Running Batches</h2>
        </div>
        <!-- <div class="col-4">
            <h5 style="text-align: right;">View All</h5>
        </div> -->

    </div>

<br>

    <div class="row">
        <div class="col-md-3 main-div">
            <div class="inner-div">
        <button>
            <span><img class="circle" src="../../assets/Images/Mean.jpg"></span> 
            <span class="batches">MEAN STACK</span>
        </button>

        </div>
        </div>

    
        <div class="col-md-3 main-div">
            <div class="inner-div">
        <button>
            <span><img class="circle" src="../../assets/Images/java.jpg"></span> 
            <span class="batches">JAVA FULL STACK</span>
        </button>

        </div>
        </div>
        <div class="col-md-3 main-div">
            <div class="inner-div">
        <button>
            <span><img class="circle" src="../../assets/Images/aws.jpg"></span> 
            <span class="batches">AWS</span>
        </button>
        </div>
        </div>
        <div class="col-md-3 main-div">
            <div class="inner-div">
        <button>
            <span><img class="circle" src="../../assets/Images/net.jpg"></span> 
            <span class="batches">.NET</span>
        </button>
        </div>
        </div>
    </div>
</div>




