<ul class="nav nav-pills mb-3 mt-3" id="pills-tab" role="tablist">
    <li class="nav-item" role="presentation">
      <button class="nav-link active" id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#pills-assigned" type="button" role="tab" aria-controls="pills-home" aria-selected="true">Assigned</button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link" id="pills-profile-tab" data-bs-toggle="pill" data-bs-target="#pills-missing" type="button" role="tab" aria-controls="pills-profile" aria-selected="false">Missing</button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link" id="pills-contact-tab" data-bs-toggle="pill" data-bs-target="#pills-done" type="button" role="tab" aria-controls="pills-contact" aria-selected="false">Done</button>
    </li>
    <li class="nav-item" role="presentation">
        <button class="nav-link" id="pills-contact-tab" data-bs-toggle="pill" data-bs-target="#pills-checked" type="button" role="tab" aria-controls="pills-contact" aria-selected="false">Checked</button>
    </li>
   
</ul>
<hr>



<!-- pills code start -->
  <div class="tab-content" id="pills-tabContent">
    
    
    <div class="tab-pane fade show active" id="pills-assigned" role="tabpanel" aria-labelledby="pills-home-tab" tabindex="0">
        
      <!-- select box start -->
      <div class="selectcontainer">

        <label>Select ModuleName</label><br>
        <select class="form-select" aria-label="Default select example">
         
          <option *ngFor="let value of allModule" [ngValue]="value.courseName" >
            {{value.moduleName}}
             </option>
        </select>
        
        <select class="form-select" aria-label="Default select example">
          <option selected>Select Topic</option>
          <option value="1">One</option>
          <option value="2">Two</option>
          <option value="3">Three</option>
        </select>

      </div>
      
     <!-- select box end -->

     <!-- horizontal card-start -->
     <div class="container-fluid" *ngFor="let value of AllAssignments">

          <div class="d-flex text-body-secondary pt-3">
            <svg class="bd-placeholder-img flex-shrink-0 me-2 rounded" width="32" height="32" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 32x32" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#007bff"></rect><text x="50%" y="50%" fill="#007bff" dy=".3em">32x32</text></svg>
            <div class="pb-3 mb-0 small lh-sm border-bottom w-75">
              <div class="d-flex justify-content-between">
                <strong class="text-gray-dark"> <a>{{value.moduleName}}</a></strong>
                <span><b><a [href]="value.assignmentURL">View Assignment</a></b></span>
              </div>
              <span class="d-block">{{value.courseName}}</span>
              <!-- <span class="d-block">FULL STACK WEB DEVELOPEMENT(BATCH 1)</span>-->
               <span class="d-block">Posted on Saturday ,9th Sept 2023</span> 
            </div>
          </div>

     </div>
     
    <!-- horizontal card-end -->




    </div>


    <div class="tab-pane fade" id="pills-missing" role="tabpanel" aria-labelledby="pills-profile-tab" tabindex="0">

        <!-- select box start -->
        <div class="selectcontainer">
          <select class="form-select" aria-label="Default select example">
            <option selected>Select Module</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
          </select>
          
          <select class="form-select" aria-label="Default select example">
            <option selected>Select Topic</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
          </select>
        </div>
       
       <!-- select box end -->

       <!-- horizontal card-start -->
       <div class="d-flex text-body-secondary pt-3">
        <svg class="bd-placeholder-img flex-shrink-0 me-2 rounded" width="32" height="32" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 32x32" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#007bff"></rect><text x="50%" y="50%" fill="#007bff" dy=".3em">32x32</text></svg>
        <div class="pb-3 mb-0 small lh-sm border-bottom w-75">
          <div class="d-flex justify-content-between">
            <strong class="text-gray-dark"> <a routerLink="/topics">HTML5</a></strong>
            <span><b>staus</b></span>
          </div>
          <span class="d-block">FULL STACK WEB DEVELOPEMENT(BATCH 1)</span>
          <span class="d-block">Posted on Saturday ,9th Sept 2023</span>
        </div>
      </div>
      <!-- horizontal card-end -->

    </div>


    <div class="tab-pane fade" id="pills-done" role="tabpanel" aria-labelledby="pills-contact-tab" tabindex="0">
      <!-- select box start -->

      <div class="selectcontainer">
          
        <select class="form-select" aria-label="Default select example">
          <option selected>Select Module</option>
          <option value="1">One</option>
          <option value="2">Two</option>
          <option value="3">Three</option>
        </select>
        
        <select class="form-select" aria-label="Default select example">
          <option selected>Select Topic</option>
          <option value="1">One</option>
          <option value="2">Two</option>
          <option value="3">Three</option>
        </select>
      </div>
      
     <!-- select box end --> 
      <!-- horizontal card-start -->
      <div class="d-flex text-body-secondary pt-3">
        <svg class="bd-placeholder-img flex-shrink-0 me-2 rounded" width="32" height="32" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 32x32" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#007bff"></rect><text x="50%" y="50%" fill="#007bff" dy=".3em">32x32</text></svg>
        <div class="pb-3 mb-0 small lh-sm border-bottom w-75">
          <div class="d-flex justify-content-between">
            <div>
             
           
            <strong class="text-gray-dark"> <a routerLink="/topics">HTML5</a></strong>
            </div>
            <span><b>staus</b></span>
          </div>
          <span class="d-block">FULL STACK WEB DEVELOPEMENT(BATCH 1)</span>
          <span class="d-block">Posted on Saturday ,9th Sept 2023</span>
        </div>
      </div>
      <!-- horizontal card-end -->

    </div>
    <div class="tab-pane fade" id="pills-checked" role="tabpanel" aria-labelledby="pills-contact-tab" tabindex="0">
         
        <!-- select box start -->
        <div class="selectcontainer">
          <select class="form-select" aria-label="Default select example">
            <option selected>Select Module</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
          </select>
          
          <select class="form-select" aria-label="Default select example">
            <option selected>Select Topic</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
          </select>
        </div>
        
        
       <!-- select box end -->
      <!-- horizontal card-start -->
      <div class="d-flex text-body-secondary pt-3">
        <svg class="bd-placeholder-img flex-shrink-0 me-2 rounded" width="32" height="32" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 32x32" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#007bff"></rect><text x="50%" y="50%" fill="#007bff" dy=".3em">32x32</text></svg>
        <div class="pb-3 mb-0 small lh-sm border-bottom w-75">
          <div class="d-flex justify-content-between">
            <strong class="text-gray-dark"> <a routerLink="/topics">HTML5</a></strong>
            <span><b>staus</b></span>
          </div>
          <span class="d-block">FULL STACK WEB DEVELOPEMENT(BATCH 1)</span>
          <span class="d-block">Posted on Saturday ,9th Sept 2023</span>
        </div>
      </div>
      <!-- horizontal card-end -->


    </div>
   
</div>
<!-- pills code end -->


