<div class="container-fluid mt-3">
    <h1>Calender</h1>
        
    <div class="row mt-2 mb-2" >
        <div class="col-md-12 d-flex justify-content-end">
            <button class="addEventBtn btn btn-outline-success" data-bs-toggle="modal" data-bs-target="#addEventModal">Add New Event</button>
        </div>
    </div>
    
    <hr>
    
    <div class="row">
        <div class="col-md-12">
            <full-calendar [options]="calendarOptions"></full-calendar>
        </div>
    
    </div>
    
    
    
     <!-- class="show"  style="display: block;" -->
      <!-- Add Event modal box start -->
      <div class="modal fade" id="addEventModal" tabindex="-1" aria-labelledby="addEventModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="exampleModalLabel">Add New Event</h1>
              <button type="button" id="add_Form_Close_Btn"  class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form [formGroup]="addEventForm" (ngSubmit)="addEvent()">
                    <div class="modal-body">
                        <div class="container-fluid">
                          <div class="row">
                                <div class="col-md-12">
                                    <div class="mb-3">
                                    <label for="recipient-name" class="col-form-label">Event Name:</label>
                                    <input type="text" class="form-control" formControlName="eventname">
                                    </div>
                                </div>
                          </div>
    
                          <div class="row">
                            <div class="col-md-12">
                                <div class="mb-3">
                                  <label for="message-text" class="col-form-label ">Event Date:</label>
                                  <input type="date" class="form-control" formControlName="eventdate">
                                </div>
                              </div>
                          </div>
                            
                          
                          <div class="row">
                                <div class="col-md-12">
                                    <div class="mb-3">
                                    <label for="recipient-name" class="col-form-label">Event Type:</label>
                                    <select class="form-select" aria-label="Default select example" formControlName="eventtype">
                                        <option *ngFor="let value of eventTypes" [value]="value.color" >
                                        {{value.type}}
                                        </option>
                                    </select>
                                    </div>
                                </div>
                            </div>
    
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="mb-3">
                                        <label for="recipient-name" class="col-form-label">Course Name:</label>
                                        <select class="form-select"  (change)="loadBatchesInSelectBox($event)"aria-label="Default select example" formControlName="coursename">
                                          <option *ngFor="let value of courseDetails" [value]="value.courseName" >
                                          {{value.courseName}}
                                           </option>
                                        </select></div>
                                </div>
                            </div>
                            
                         
                          <div class="row">
                            <div class="col-md-12">
                                    <div class="mb-3">
                                        <label for="recipient-name" class="col-form-label">Batch</label>
                                        <select class="form-select" aria-label="Default select example" id="batchname" formControlName="batchname">
                                        <option *ngFor="let batch of batchDetails" [value]="batch.batchName">
                                            {{batch.batchName}}
                                            </option>
                                        </select>
    
                                    </div>
                                </div>
                            </div>
                            
                          
    
                      </div>
              
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                  <button type="submit" class="btn btn-dark">Submit</button>
                </div>
          </form>
          </div>
        </div>
      </div>
       <!-- add student modal box end -->
    </div>
    
    