.rightSideDiv{

    border: 1px solid black;
    height: 100vh;
    padding: 10%;
}

.addEventBtn{

    width: 22% !important;
}



/* modal box related properties*/

.modal-header{
    display: flex !important;
    background-color: black;
    color: white;

}

.formGroup{
    display: inline-block;
}

.form-control{

    display: inline-block !important;
    width: 70%;
}
.col-form-label{
    margin-right: 20px;
    width: 24%;
}

.form-select{

    display: inline-block !important;
    width: 70%;
}



.modal-footer 
{
    justify-content: center !important;
}
.first{
    background-color: aquamarine;
}

