           
    <!-- add student button -->
    <div class="container-fluid">

      <div class="row mt-2 mb-2" >
          <div class="col-md-12 d-flex justify-content-end">
              <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addStudentModal">Add Student</button>
          </div>
      </div>
  
 

  <!-- class="show"  style="display: block;" -->
  <!-- Add student modal box start -->
  <div class="modal fade" id="addStudentModal" tabindex="-1" aria-labelledby="addStudentModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel">Add New Student</h1>
            <button type="button" id="add_Form_Close_Btn"  class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <form [formGroup]="addStudentForm" (ngSubmit)="addStudent()">
                  <div class="modal-body">
                      <div class="container-fluid">
                        <div class="row">
                          <div class="col-md-6">
                              <div class="mb-3">
                                <label for="recipient-name" class="col-form-label">First Name:</label>
                                <input type="text" class="form-control" id="firstName" formControlName="firstname">
                               </div>
                          </div>

                          <div class="col-md-6">
                            <div class="mb-3">
                              <label for="message-text" class="col-form-label ">Last Name:</label>
                              <input type="text" class="form-control" id="lastName" formControlName="lastname">
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-md-6">
                              <div class="mb-3">
                                <label for="recipient-name" class="col-form-label">Email Id:</label>
                                <input type="text" class="form-control" id="emailId" formControlName="emailid">
                              </div>
                          </div>

                          <div class="col-md-6">
                            <div class="mb-3">
                              <label for="message-text" class="col-form-label ">Contact No:</label>
                              <input type="text" class="form-control" id="contactNo" formControlName="contactnumber">
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-md-6">
                              <div class="mb-3">
                                <label for="recipient-name" class="col-form-label">Course</label>
                                <select class="form-select" aria-label="Default select example" formControlName="course">
                                  <option *ngFor="let course of courseDetails" [ngValue]="course.courseName">
                                    {{course.courseName}}
                                  </option>
                                  
                                </select>
                              </div>
                          </div>

                          <div class="col-md-6">
                            <div class="mb-3">
                              <label for="recipient-name" class="col-form-label">Batch</label>
                              <select class="form-select" aria-label="Default select example" formControlName="batch">
                                <option *ngFor="let batch of batchDetails" [ngValue]="batch.name">
                                    {{batch.name}}
                                  </option>
                              </select>
                            </div>
                          </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="mb-3">
                                  <label for="recipient-name" class="col-form-label">status</label>
                                  <select class="form-select" aria-label="Default select example" formControlName="status">
                                    <option *ngFor="let st of status" [ngValue]="st">
                                      {{st}}
                                    </option>
                                    
                                  </select>
                                </div>
                            </div>
                        </div>

                      

                    
                    </div>
            
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-dark">Add student</button>
              </div>
        </form>
        </div>
      </div>
    </div>
     <!-- add student modal box end -->
     

    <!-- Update student modal box start -->
  <div class="modal fade" id="updateStudentModal" tabindex="-1" aria-labelledby="addStudentModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Update Student</h1>
          <button type="button"  class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <form [formGroup]="updateStudentForm" (ngSubmit)="updateStudent()">
          <div class="modal-body">
              <div class="container-fluid">
                <div class="row">
                  <div class="col-md-6">
                      <div class="mb-3">
                        <label  for="message-text" class="col-form-label">First Name:</label>
                        <input type="text" class="form-control" id="firstname" formControlName="updatedfirstname">
                      </div>
                  </div>

                  <div class="col-md-6">
                    <div class="mb-3">
                      <label for="message-text" class="col-form-label">Last Name:</label>
                      <input type="text" class="form-control" id="lastName" formControlName="updatedlastname">
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                      <div class="mb-3">
                        <label for="recipient-name" class="col-form-label">Email Id:</label>
                        <input type="text" class="form-control" id="emailId" formControlName="updatedemailid">
                      </div>
                  </div>

                  <div class="col-md-6">
                    <div class="mb-3">
                      <label for="message-text" class="col-form-label ">Contact No:</label>
                      <input type="text" class="form-control" id="contactNo" formControlName="updatedcontactnumber">
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                      <div class="mb-3">
                        <label for="recipient-name" class="col-form-label">Course</label>
                        <select class="form-select" aria-label="Default select example" formControlName="updatedcourse">
                          <option *ngFor="let value of courseDetails" [ngValue]="value.courseName">
                            {{value.courseName}}
                          </option>
                          
                     
                        </select>
                      </div>
                  </div>

                  <div class="col-md-6">
                    <div class="mb-3">
                      <label for="recipient-name" class="col-form-label">Batch</label>
                      <select class="form-select" aria-label="Default select example" formControlName="updatedbatch">
                        <option *ngFor="let batch of batchDetails" [ngValue]="batch.name">
                          {{batch.name}}
                        </option>
                       </select>
                    </div>
                  </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="mb-3">
                          <label for="recipient-name" class="col-form-label">status</label>
                          <select class="form-select" aria-label="Default select example" formControlName="updatedstatus">
                            <option *ngFor="let st of status" [ngValue]="st">
                              {{st}}
                            </option>
                            
                         
                            
                          </select>
                        </div>
                    </div>
                </div>
       </div>
    
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-dark" data-bs-dismiss="modal">Update student</button>
      </div>
</form>
      </div>
    </div>
  </div>
   <!-- Update student modal box end -->

     <!-- delete student modal box start -->
  <div class="modal fade" id="deleteStudentModal" tabindex="-1" aria-labelledby="addStudentModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
         
          <button type="button"   class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="container-fluid ">
            <div class="row">
              <div class="col-md-12 d-flex justify-content-center">
                    <h6>Are you sure you want to delete this student ?</h6>
              </div>

              
            </div>
        </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
          <button type="button" (click)="deleteStudent()" data-bs-dismiss="modal" class="btn btn-dark">Yes</button>
        </div>
      </div>
    </div>
  </div>
   <!-- delete student modal box end -->


   <!-- table code  start-->
   <table class="table">
      <thead>
        <tr>
          <th scope="col">Id</th>
          <th scope="col">First Name</th>
          <th scope="col">Last Name</th>
          <th scope="col">Email Id</th>
          <th scope="col">Contact</th>
          <th scope="col">Course</th>
          <th scope="col">Batch</th>
          <th scope="col">Status</th>
          <th scope="col">Action</th>

        </tr>
      </thead>
      <tbody *ngFor="let value of studentDetails;let counter=index">
        <tr>
          <th scope="row">{{counter+1}}</th>
          <td>{{value.firstName}}</td>
          <td>{{value.lastName}}</td>
          <td>{{value.emailId}}</td>
          <td>{{value.contactNumber}}</td>
          <td>{{value.batchName}}</td>
          <td>{{value.courseName}}</td>





          <ng-template [ngIf]="value.status" [ngIfElse]="InActiveStatus">
            <td >Active</td>
          </ng-template>
          <ng-template #InActiveStatus>
            <td >InActive</td>
          </ng-template>
         
         
          
          <td>
              <button class="me-1 action-button" (click)="onUpdate(value)" data-bs-toggle="modal" data-bs-target="#updateStudentModal">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-fill" viewBox="0 0 16 16">
                  <path d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z"/>
                  </svg>
              </button>
              <button class="action-button" (click)="onDeleteStudent(value._id)" data-bs-toggle="modal" data-bs-target="#deleteStudentModal">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3-fill" viewBox="0 0 16 16">
                      <path d="M11 1.5v1h3.5a.5.5 0 0 1 0 1h-.538l-.853 10.66A2 2 0 0 1 11.115 16h-6.23a2 2 0 0 1-1.994-1.84L2.038 3.5H1.5a.5.5 0 0 1 0-1H5v-1A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5Zm-5 0v1h4v-1a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5ZM4.5 5.029l.5 8.5a.5.5 0 1 0 .998-.06l-.5-8.5a.5.5 0 1 0-.998.06Zm6.53-.528a.5.5 0 0 0-.528.47l-.5 8.5a.5.5 0 0 0 .998.058l.5-8.5a.5.5 0 0 0-.47-.528ZM8 4.5a.5.5 0 0 0-.5.5v8.5a.5.5 0 0 0 1 0V5a.5.5 0 0 0-.5-.5Z"/>
                    </svg>
              </button>
          </td>
        </tr>
      </tbody>
    </table>

     <!-- table code end-->
  </div>



